
nav{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover {
    background: rgb(214, 135, 31);
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.logo{
    display: flex;
}
.logo img{
    width: 100px;
    padding: 15px 0px;
    align-items: center;
}

.mySlides {
height: 50vh;
}
.w3-content{

    text-align: center!important;
    position: relative;
    /* display: grid; */
    height: 10% auto;
}

@media screen and (max-width: 1240px){
    .container{
      width: auto;
      height: auto;

  }
  .cards{

    display: block;
  }
  .lines p {

    text-align: center;
  }
}
@media screen and (max-width: 768px){
    nav{
        display: flex;
    }
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        font-size: 2rem;
    }

}



